<div class="container__bottomBanner">
    <br>
</div>
{% schema %}
  {
    "name": "Bottom banner",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}