<div class="container__bottomBanner">
    <br>
</div>
{% schema %}
{
  "name": "Bottom banner",
  "tag": "section",
  "class": "bottom-banner",
  "presets": [
    {
      "name": "Bottom banner"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}