<div class="container__bottomBanner">
    <br>
</div>
{% schema %}
{
  "name": "Bottom banner",
  "tag": "section",
  "class": "bottom-banner",
  "presets": [
    {
      "name": "Bottom banner"
    }
  ]
}
{% endschema %}

{% stylesheet %}
section#shopify-section-template--15956248821936__59693778-d14d-4541-bc61-44428cd58540{
  width: 100%;
  height: 400px;
  background: url("https://cdn.shopify.com/s/files/1/0607/3571/7552/files/50.svg?v=1666749241") no-repeat center;
  background-size: cover;
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}