<div class="dishes-buttons">
    <h2 class="heading">DISHES</h2>
    <div class="desktop-container">
        <ul>
            <li><a class="link-underline-hover subnav-collection" href="#">View all</a></li>
            <li><a class="link-underline-hover subnav-collection" href="#">Main</a></li>
            <li><a class="link-underline-hover subnav-collection" href="#">Sides</a></li>
            <li><a class="link-underline-hover subnav-collection" href="#">Veggies</a></li>
        </ul>
    </div>
</div>
{% schema %}
    {
      "name":"Collection nav",
      "tag": "section",
      "settings": [],
      "presets": [
        {
          "name": "collection nav"
        }
      ]
    }

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}