<div class="dishes-buttons">
  <h2 class="heading">DISHES</h2>
  <div class="desktop-container">
    <ul>
      <li class="collection-filter-list"><a class="link-underline-hover subnav-collection" href="#">View all</a></li>
      <li class="collection-filter-list"><a class="link-underline-hover subnav-collection" href="#">Main</a></li>
      <li class="collection-filter-list"><a class="link-underline-hover subnav-collection" href="#">Sides</a></li>
      <li class="collection-filter-list"><a class="link-underline-hover subnav-collection" href="#">Veggies</a></li>
    </ul>
  </div>
  <div class="mobile-container">
    <div class="dropdown">
      <button class="dropdown-select">View <span> {% render 'icon-down-chevron' %}</span></button>
      <div class="dropdown-content">
        <a class="link-underline-hover subnav-collection" href="https://homebake42530.com/collections"><span class="static-text">View: </span> All Dishes</a>
        <a class="link-underline-hover subnav-collection" href="https://homebake42530.com/collections/mains"><span class="static-text">View: </span> Main</a>
        <a class="link-underline-hover subnav-collection" href="https://homebake42530.com/collections/sides"><span class="static-text">View: </span> Sides</a>
        <a class="link-underline-hover subnav-collection" href="https://homebake42530.com/collections/veggies"><span class="static-text">View: </span> Veggies</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collection nav",
    "tag": "section",
    "settings": []
  }
{% endschema %}

<style>
  body{
    background: #F5F5F5;
  }
  h2.heading {
    text-align: center;
    font-family: 'Apercu';
    font-size: 32px;
    font-weight: 700;
    color: #C72063;
    margin-top: 80px;
  }
  .desktop-container{
    display: none;
  }
  .mobile-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .dropdown {
  display: inline-block;
  position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    height: max-content;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 40%);
    z-index: 10;
    background: #fff;
    padding: 1rem;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  button.dropdown-select {
    width: 300px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  svg.bi.bi-chevron-compact-down {
    color: #B52548;
  }
  span.static-text {
    color: #7e7b7b;
  }
</style>

{% javascript %}
    if (window.location.href == 'https://homebake42530.com/collections/') {
    document.querySelector('.dropdown-select').innerHTML = "All Dishes"
  } else if (window.location.href == 'https://homebake42530.com/collections/mains') {
    document.querySelector('.dropdown-select').innerHTML = "Main"
  } else if (window.location.href == 'https://homebake42530.com/collections/veggies') {
    document.querySelector('.dropdown-select').innerHTML = "Veggies"
  } else if (window.location.href == 'https://homebake42530.com/collections/sides') {
    document.querySelector('.dropdown-select').innerHTML = "Sides"
  }
{% endjavascript %}