{{ 'dishes-buttons-collections.css' | asset_url | stylesheet_tag }}
<div class="dishes-buttons">
  <h2 class="heading">DISHES</h2>
  <div class="desktop-container">
    <ul class="list-collection-wrapper">
      <li class="collection-filter-list"><a class="link-underline-hover subnav-collection" href="https://homebake42530.com/collections">View all</a></li>
      <li class="collection-filter-list"><a class="link-underline-hover subnav-collection" href="https://homebake42530.com/collections/mains">Main</a></li>
      <li class="collection-filter-list"><a class="link-underline-hover subnav-collection" href="https://homebake42530.com/collections/sides">Sides</a></li>
      <li class="collection-filter-list"><a class="link-underline-hover subnav-collection" href="https://homebake42530.com/collections/veggies">Veggies</a></li>
    </ul>
    <div style="border-bottom: 2px solid #EBEBEB; display: block !important;width: 320px;
    margin: 0 auto;
    padding-top: 1rem;"></div>
  </div>
  <div class="mobile-container">
    <div class="dropdown">
      <button class="dropdown-select "> <span class="selected-collection">View</span>{% render 'icon-down-chevron' %} </button>
      <div class="dropdown-content">
        <a class="link-underline-hover subnav-collection item1" href="https://homebake42530.com/collections">All Dishes</a>
        <a class="link-underline-hover subnav-collection item2" href="https://homebake42530.com/collections/mains">Main</a>
        <a class="link-underline-hover subnav-collection item3" href="https://homebake42530.com/collections/sides">Sides</a>
        <a class="link-underline-hover subnav-collection item4" href="https://homebake42530.com/collections/veggies">Veggies</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collection nav",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "Collection nav"
      }
    ]
  }
{% endschema %}

{% javascript %}
    if (window.location.href == 'https://homebake42530.com/collections/') {
    document.querySelector('.selected-collection').innerHTML = "All Dishes";
    document.querySelector('.item1').classList.add("active");
  } 
    else if (window.location.href == 'https://homebake42530.com/collections/mains') {
    document.querySelector('.selected-collection').innerHTML = "Main";
    document.querySelector('.item2').classList.add("active")
  } 
    else if (window.location.href == 'https://homebake42530.com/collections/veggies') {
    document.querySelector('.selected-collection').innerHTML = "Veggies";
    document.querySelector('.item3').classList.add("active")
  } 
    else if (window.location.href == 'https://homebake42530.com/collections/sides') {
    document.querySelector('.selected-collection').innerHTML = "Sides";
    document.querySelector('.item4').classList.add("active")
  }
{% endjavascript %}