<div class="dishes-buttons">
  <h2 class="heading">DISHES</h2>
  <div class="desktop-container">
    <ul>
      <li class="collection-filter-list"><a class="link-underline-hover subnav-collection" href="#">View all</a></li>
      <li class="collection-filter-list"><a class="link-underline-hover subnav-collection" href="#">Main</a></li>
      <li class="collection-filter-list"><a class="link-underline-hover subnav-collection" href="#">Sides</a></li>
      <li class="collection-filter-list"><a class="link-underline-hover subnav-collection" href="#">Veggies</a></li>
    </ul>
  </div>
  <div class="mobile-container">
    <div class="dropdown">
      <button>View</button>
      <div class="dropdown-content">
        <a class="link-underline-hover subnav-collection" href="#">All Dishes</a>
        <a class="link-underline-hover subnav-collection" href="#">Main</a>
        <a class="link-underline-hover subnav-collection" href="#">Sides</a>
        <a class="link-underline-hover subnav-collection" href="#">Veggies</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collection nav",
    "tag": "section",
    "settings": []
  }
{% endschema %}

<style>
  body{
    background: #F5F5F5;
  }
  h2.heading {
    text-align: center;
    font-family: 'Apercu';
    font-size: 32px;
    font-weight: 700;
    color: #C72063;
    margin-top: 140px;
  }
  .desktop-container{
    display: none;
  }
  .mobile-container{
    display: block;
  }
  .dropdown {
  display: inline-block;
  position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }
</style>

{% javascript %}
{% endjavascript %}