.image-with-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80vh;
    padding: 16px;
    text-align: center;
    height: 100%;
}
.heading{
    font-size: 40px;
    font-family: 'Calluna';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.02em;
}
.subheading{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
}
.hero-button {
    text-decoration: none;
    padding: 14px 36px;
    border-radius: 24px;
}
img.oval-image {
    position: absolute;
    top: 44rem;
    right: 3rem;
    height: 38px;
    z-index: 0;
}
.flex-child-heading {
    margin-bottom: 8rem;
}
@media(min-width:375px){
    img.oval-image{
        top: 44rem;
        height: 61px;
        right: 0;
    }
    .heading{
        font-size: 63px;
    }
}
@media(min-width: 425px){
    .heading{
        font-size: 50px;
    }
    img.oval-image{
        top: 41.5rem;
        height: 55px;
        right: 8%;
    }
}
@media (min-width:500px){
    .heading{
        font-size: 61px;
    }
    img.oval-image{  
        top: 38rem;
        height: 68px;
        right: 5%;
    }
}
@media(min-width:600px){
    img.oval-image{
        top: 38rem;
        height: 61px;
        right: 8rem;
    }
}
@media(min-width:700px){
    img.oval-image{
        top: 36rem;
        height: 65px;
        right: 7rem;
    }
}
@media (min-width:768px){
    .flex-child-heading {
        width: 400px;
    }
    .heading{
        line-height: 45px;
        font-size: 40px;
    }
    img.oval-image {
        top: 40.5rem;
        height: 45px;
        right: 25%;
    }
}
@media(min-width:900px){
    img.oval-image{
        right: 28%;
    }
}
@media(min-width:989px){
    img.oval-image{    
        top: 40rem;
        height: 45px;
        right: 30%;
    }
}
@media(min-width:1024px){
    img.oval-image{    
        top: 44rem;
        height: 45px;
        right: 31%;
    }
}
@media(min-width:1200px){
    img.oval-image{    
        top: 44.5rem;
        height: 47px;
        right: 33%;
    }
}
@media (min-width:1280px){
    .heading{
        font-size: 64px;
        line-height: 70px;
    }
    .flex-child-heading {
        width: 670px;
    }
    .subheading {
        font-size: 20px;
        line-height: 24px;
    }
    .hero-button {
        font-size: 16px;
        line-height: 20px;
    }
    .flex-child-image {
        margin-top: 64px;
    }
    img.oval-image{ 
        height: 8rem;
        right: 23%;
    }
}
@media(min-witdh: 1350px){
    img.oval-image {
      top: 48.5rem;
      height: 7rem;
      right: 28%;
  }
}
@media(min-width: 1400px){
    img.oval-image{    
        top: 55rem;
        height: 8rem;
        right: 26%;
    }
    .flex-child-image img {
        width: 360px;
        height: auto;
    }
}
@media (min-width:1800px){
  img.oval-image {
      top: 57.8rem;
      height: 7rem;
      right: 32%;
  }
}
@media (min-width: 1900px){
  img.oval-image {
    top: 61rem;
    height: 6rem;
    right: 34%;
  }   
}
@media (min-width: 2000px){
  img.oval-image {
    top: 64rem;
    height: 6rem;
    right: 34%;
  }   
}
@media (min-width: 2100px){
  img.oval-image {
    top: 68rem;
    height: 6rem;
    right: 35%;
  }   
}
@media (min-width: 2200px){
  img.oval-image {
    top: 70rem;
    height: 7rem;
    right: 35%;
  }   
}
@media (min-width: 2300px){
  img.oval-image {
    top: 73rem;
    height: 7rem;
    right: 35%;
  }   
}
@media (min-width: 2400px){
  img.oval-image {
    top: 76rem;
    height: 7rem;
    right: 37%;
  }   
}
@media (min-width: 2500px){
  img.oval-image {
    top: 78rem;
    height: 7rem;
    right: 37%;
  }   
}
@media (min-width: 2560px){
    img.oval-image{
        top: 78rem;
    }
    
}