.image-with-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80vh;
    padding: 16px;
    text-align: center;
    height: 100%;
}
.heading{
    font-size: 31px;
    font-family: 'Calluna_reg';
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.02em;
}
.subheading{
    font-family: 'Apercu_reg';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
}
.hero-button {
    text-decoration: none;
    padding: 14px 36px;
    border-radius: 24px;
}
img.oval-image {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: 55%;
    left: 50%;
    height: 28px;
    z-index: 0;
    width: 130%;
}
.flex-child-heading {
    margin-bottom: 8rem;
}
.relative-image-with-text{
  display: inline;
  position: relative;
}
.relative-image{
  display: none;
}
/* 2340x1080 pixels at 476ppi */
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {
      img.oval-image{
        right: -102px !important;
        height: 32px;
      }
}
@media(min-width:375px){
 
}
@media(min-width: 425px){

}
@media (min-width:500px){
    /* .heading{
        font-size: 61px;
    } */
    img.oval-image{ 
        height: 68px;
    }
}
@media(min-width:600px){
   .relative-image {
     display: block;
      position: absolute;
      right: 21%;
      top: 61%;
    }
}
@media(min-width:700px){
    img.oval-image{
        height: 65px;
    }
}

@media (min-width:768px){
    .flex-child-heading {
        width: 400px;
    }
    .heading{
        line-height: 45px;
        font-size: 40px;
    }
    img.oval-image {
        height: 45px;
    }
    .relative-image {
      position: absolute;
      right: 20%;
      top: 57%;
    }
}
@media(min-width:900px){
  
}
@media(min-width:989px){
    img.oval-image{ 
        height: 45px;
    }
    .heading{
      margin-top: 32px;
    }
    .subheading{
      margin-top: 32px;
      margin-bottom: 32px;
    }
}
@media(min-width:1024px){
    img.oval-image{    
        height: 45px;
    }
}
@media(min-width:1200px){
    img.oval-image{  
        height: 47px;
    }
}
@media (min-width:1280px){
    .heading{
        font-size: 64px;
        line-height: 70px;
    }
    .flex-child-heading {
        width: 670px;
    }
    .subheading {
        font-size: 20px;
        line-height: 24px;
    }
    .hero-button {
        font-size: 16px;
        line-height: 20px;
    }
    .flex-child-image {
        margin-top: 64px;
    }
    img.oval-image{ 
        height: 6rem;
        max-width: 335px;
    }
}
@media(min-witdh: 1350px){
    img.oval-image {
      height: 7rem;
  }
}
@media(min-width: 1400px){
    img.oval-image{    
        height: 8rem;
    }
    .flex-child-image img {
        width: 360px;
        height: auto;
    }
}
@media (min-width:1600px){

}
@media (min-width:1700px){
  img.oval-image {
    height: 8rem;
  }
}
@media (min-width:1800px){
  img.oval-image {
      height: 7rem;
  }
}
@media (min-width: 1900px){
  img.oval-image {
    height: 6rem;
  }   
}
@media (min-width: 2000px){
  img.oval-image {
    height: 6rem;
  }   
}
@media (min-width: 2100px){
  img.oval-image {
    height: 6rem;
  }   
}
@media (min-width: 2200px){
  img.oval-image {
    height: 7rem;
  }   
}
@media (min-width: 2300px){
  img.oval-image {
    height: 7rem;
  }   
}
@media (min-width: 2400px){
  img.oval-image {
    height: 7rem;
  }   
}
@media (min-width: 2500px){
  img.oval-image {
    height: 7rem;
  }   
}
@media (min-width: 2560px){
  
    
}