
.store-locator-layout{
  padding-bottom:65px;
  margin-bottom:100px;
  border-bottom: 1px solid #EBEBEB;
  padding: 0px 50px;
}
#MainContent{
  background:#FDFAFB !important;
}
h1.main-page-title.page-title{
  color: #B52548 !important;
  font-size: 32px !important;
  margin-bottom: 24px !important;
  text-align: left !important;
  padding-top: 140px !important;
  padding-bottom: 0px !important;
}
.stockist-search-filters{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin-top:25px !important;
  margin-bottom:5px !important;
}
.stockist-search-filter-checkboxes{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.stockist-search-filter-checkboxes label{
  font-size:14px;
}
#shopify-section-template--15956248559792__newsletter{
  display:none;
}

.stockist-query-entry input{
  height:48px !important;
  background: #FFFFFF;
  border: 1px solid #EBEBEB !important;
  border-radius: 4px !important;
  padding:15px !important;
}
.stockist-query-entry input::placeholder{
  font-size:16px;
  color: #5E5E5E;
}

#stockist-widget .stockist-horizontal .stockist-side-panel{
  width:350px;
  max-height:420px;
}
#stockist-widget .stockist-map.stockist-map-leaflet .stockist-map-inner{
  min-height:420px !important;
  border: 1px solid #EBEBEB;
}
#stockist-widget .stockist-map{
  left:380px;
}
#stockist-widget .stockist-query-entry .stockist-search-button button{
  min-width:53px;
  height:48px;
  background:#C72063;
  display:grid;
  place-content:center;
}
#stockist-widget .stockist-icon{
  font-size:18px;
}
#stockist-widget .stockist-result-list ul{
  max-height:280px;
  overflow-y: auto;
}
#stockist-widget .stockist-result-list ul>li{
  border-style:solid;
  border-top-color: #EBEBEB;
}
#stockist-widget .stockist-list-result>.stockist-result-distance>.stockist-icon{
  color: #850D35;
}
#stockist-widget .stockist-result .stockist-result-name{
  color: #850D35;
  margin-bottom: 8px;
}
#stockist-widget .stockist-list-result>div{
  padding-left:60px;
  font-size:14px;
  color: #5E5E5E;
}
#stockist-widget .stockist-result-address{
  margin-bottom: 8px;
}
#stockist-widget .stockist-result .stockist-result-filter{
  color:#000000;
}
#stockist-widget .stockist-result .stockist-result-phone a{
  color: #850D35;
}
#stockist-widget .stockist-powered-by-link, .stockist-powered-by-link a{
  display:none;
}

@media screen and (max-width: 768px) {
  .store-locator-layout{
    padding: 0px 20px;
  }
  h1.main-page-title.page-title{
    padding-top:40px !important;
  }
}